* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* @font-face {
  font-family: "diodrum-medium";
  src: url("./fonts/DiodrumArabic.Medium_p30download.com.ttf");
}
@font-face {
  font-family: "diodrum-bold";
  src: url("./fonts/DiodrumArabic.Bold_p30download.com.ttf");
}
@font-face {
  font-family: "diodrum-semibold";
  src: url("./fonts/DiodrumArabic.Semibold_p30download.com.ttf");
} */
body {
  min-height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
